/* 返回顶部阅读进度 */
button#go-up #percent {
  display: none;
  font-weight: bold;
  font-size: 15px !important;
}

button#go-up #percent span {
  font-size: 12px !important;
  margin-right: -1px;
}

/* 主题内置百分比隐藏，改用自定义 #percent */
button#go-up .scroll-percent {
  display: none !important;
}

/* 鼠标悬浮时显示返回顶部图标 */
button#go-up:hover i {
  display: block !important;
}

button#go-up:hover #percent {
  display: none !important;
}
